.Category {
    flex-wrap: wrap;
    margin: 4em 2em;
    display: flex;
}

.Category a {
    color: black !important;
    text-decoration: none !important;
    margin: 1em;
    width: 280px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
}

.card img {
    height: 180px;
    width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */
.card .content {
    padding: 2px 16px;
    text-align: center;
    margin: .5em 0;
}

.Selling_Products {
    margin: 1em 4em;
}

.Selling_Products .selling_title {
    background-color: #8bc04e;
    padding: .35em 1em;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.Selling_Products .list_products ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.Selling_Products .list_products li {
    display: inline-block;
    width: 225px;
    margin: .5em;
}

.Selling_Products .list_products li .card {
    box-shadow: none;
    border-top: 40px;
}

.Selling_Products .list_products li img {
    border-radius: 40px;
    height: 225px;
}

.Selling_Products .see_more {
    text-align: center;
}

.Selling_Products input {
    background-color: #8bc04e;
    border: none;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    border-radius: 5px;
}

.Selling_Products input:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}