<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/danhmuc.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/slider.css}" type="text/css"/>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!--HEAD-->
<form id="form" >
    <!--Header-->
    <div class="header">
        <div style="font-family: 'Coiny', cursive; color: white; text-align: center; align-self: center; font-size: x-large"
             >Hona Green House
        </div>
        <div style="flex-direction: row; display: flex">

            <button class="button_nav_gh" >
                <i class="fas fa-shopping-cart fa-sm"></i>
                <div>&nbsp;&nbsp;Giỏ hàng</div>
            </button>
        </div>

    </div>

    <!--Nav-->
    <div style="display: block;" >
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/trangchu">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown  active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/danhmuc?loaiTraiCay=LTC01">Trái cây miền bắc</a>
                            <a class="dropdown-item" href="/danhmuc?loaiTraiCay=LTC02">Trái cây miền trung</a>
                            <a class="dropdown-item" href="/danhmuc?loaiTraiCay=LTC03">Trái cây miền nam</a>
                            <a class="dropdown-item" href="/danhmuc?loaiTraiCay=LTC04">Trái cây nhập khẩu</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lienhe">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--END HEAD-->
    <div class="Selling_Products">
        <div class="selling_title">
            <div id="danh_muc" ></div>
        </div>
        <div class="list_products">
            <ul id="ul_list_tc" >
            </ul>
        </div>
    </div>
    <!--FOOT-->
    <!--Footer-->
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="/trangchu">Trang chủ</a>
                ·
                <a href="/danhmuc?loaiTraiCay=LTC01">Sản phẩm</a>
                ·
                <a href="/lienhe">Liên hệ</a>
            </p>
            <p>Hona Green House &copy; 2019</p>
        </div>
    </footer>
</form>
<!--END FOOT-->
</body>

<script>
    function getDanhMuc(){
        var url = new URL(window.location.href);
        var loaiTraiCay = url.searchParams.get("loaiTraiCay");
        console.log(loaiTraiCay);
        var danhMuc = "";

        if(loaiTraiCay == "banChay"){
            danhMuc = "SẢN PHẨM BÁN CHẠY";

            $.ajax({
                type: "GET",
                url: "/Api/GetTraiCayBanChay",
                success: function (traiCay) {
                    for (let i = 0; i < traiCay.length; i++){
                        var ul = document.getElementById("ul_list_tc");
                        var li = document.createElement("li");
                        li.innerHTML = "<a href='traicay?id=" + traiCay[i].maTraiCay + "'><div class='card'><img src='" + traiCay[i].urlAnh + "' alt='Avatar'><div class='content'><div class='product_name'><b>" + traiCay[i].tenTraiCay + "</b></div><div class='product_unit'>ĐƠN VI TÍNH : " + traiCay[i].donViTinh + "</div><div class='product_price'>" + traiCay[i].donGia + " ₫</div></div></div></a>";
                        ul.appendChild(li);
                    }
                    console.log(traiCay);
                },
                error: function (traiCay) {
                    console.log("Error");
                }
            });
        }
        else {
            switch (loaiTraiCay) {
                case 'LTC01':
                    danhMuc = "TRÁI CÂY MIỀN NAM";
                    break;
                case 'LTC02':
                    danhMuc = "TRÁI CÂY MIỀN BẮC";
                    break;
                case 'LTC03':
                    danhMuc = "TRÁI CÂY MIỀN TRUNG";
                    break;
                case 'LTC04':
                    danhMuc = "TRÁI CÂY NHẬP KHẨU";
                    break;
                default:
                    danhMuc = "TRÁI CÂY";
                    break;
            }

            $.ajax({
                type: "GET",
                url: "/Api/GetTraiCayByLoai?loaiTraiCay="+loaiTraiCay,
                success: function (traiCay){
                    for (let i = 0; i < traiCay.length; i++){
                        var ul = document.getElementById("ul_list_tc");
                        var li = document.createElement("li");
                        li.innerHTML = "<a href='traicay?id=" + traiCay[i].maTraiCay + "'><div class='card'><img src='" + traiCay[i].urlAnh + "' alt='Avatar'><div class='content'><div class='product_name'><b>" + traiCay[i].tenTraiCay + "</b></div><div class='product_unit'>ĐƠN VI TÍNH : " + traiCay[i].donViTinh + "</div><div class='product_price'>" + traiCay[i].donGia + " ₫</div></div></div></a>";
                        ul.appendChild(li);
                    }
                }
            });
        }
        $('#danh_muc').append(danhMuc);
    }

    $(document).ready(function(){
        getDanhMuc()
    });
</script>

</html>