<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css"/>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<style type="text/css">

    .button-cart {
        margin-left: -15px;
        margin-top: 10px;
    }

    .cart-container {
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-color: lightgray;
    }

    .cart-header-container {
        margin-left: 0px;
        margin-right: 0px;
        padding: 4px;
        border-top: solid 1px;
        border-color: lightgray;
        text-align: center;
        font-weight: bold;
    }


    .cart-detail {
        margin: 4px;
        background-color: #f9f9f9;
    }

    .content-header {
        text-align: center;
        font-weight: bold;
    }

    .img-fruit {
        height: 100px;
        width: 100%;
    }

    .fruit-quantity-width {
        width: 50px;
    }

    .total-box {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .notes-fruite {
        height: auto;
        width: 100%;
    }

    .margin-bottom-label {
        margin-bottom: 0.05rem !important;
    }

    .btn-check-out {
        background-color: #46aa48;
        font-size: 14px !important;
        color: white;
        border-radius: 40px;
        border-width: 0px;
        border-style: solid;
        border-color: #fff;
        font-weight: bold;
        font-family: 'PT Sans', Arial, Helvetica, sans-serif;
        min-height: 32px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 20px;
        margin: 0;
    }
</style>
<!--HEAD-->
<form id="form">
    <!--Header-->
    <div class="header">
        <div style="font-family: 'Coiny', cursive; color: white; text-align: center; align-self: center; font-size: x-large"
        >Hona Green House
        </div>
        <div style="flex-direction: row; display: flex">

            <button class="button_nav_gh">
                <i class="fas fa-shopping-cart fa-sm"></i>
                <div>&nbsp;&nbsp;Giỏ hàng</div>
            </button>
        </div>

    </div>

    <!--Nav-->
    <div style="display: block;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/trangchu">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/DanhMuc?Id=LTC01">Trái cây miền bắc</a>
                            <a class="dropdown-item" href="/DanhMuc?Id=LTC02">Trái cây miền trung</a>
                            <a class="dropdown-item" href="/DanhMuc?Id=LTC03">Trái cây miền nam</a>
                            <a class="dropdown-item" href="/DanhMuc?Id=LTC04">Trái cây nhập khẩu</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/LienHe">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--END HEAD-->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <div class="content-header">
                        <span>DANH SÁCH SẢN PHẨM</span>
                    </div>

                    <!--                    <span id="txtGioHangTrong">Hiện tại không có sản phẩm trong giỏ hàng</span>-->


                    <!-- Help Phần đổ data vào và chỉnh giao diện chỗ này t chưa chạy lên dc nên chưa fix giao diện ở đây được.-->

                    <div id="divGioHang">
                        <div class="row cart-header-container">
                            <div class="col-md-2 align-self-center">
                            </div>
                            <div class="col-md-3 align-self-center">
                                <span>Tên trái cây</span>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <span>Giá</span>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <span>Số lượng</span>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-7 align-self-center"
                                         style="padding-left:0px; padding-right:0px;">
                                        <span>Cập nhật</span>
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <span>Xóa</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divDataGioHang" class="cart-container">
                        </div>

                        <div class="row cart-header-container" style="font-weight: unset;" th:each="sp : ${sanPham}">
                            <div class="col-md-2 align-self-center">
                                <span><label id="lblMaTraiCay" style="display: none;" th:text="${sp.value[maTraiCay]}"></label></span>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <span><label id="lblTenTraiCay" th:text="${sp.value[tenTraiCay]}"></label></span>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <span><label id="lblGiaTraiCay" th:text="${sp.value[giaTraiCay]}"></label></span>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <input id="txbSoLuong" type="number" step="1" min="1" th:value="${sp.value[soLuong]}"
                                       max="100" class="number-add-to-cart">
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-7 align-self-center"
                                         style="padding-left:0px; padding-right:0px;">
                                        <input type="submit" name="action" class="update" value="Cập nhật" />
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <input type="submit" name="action" class="delete" value="Xóa" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="total-box">
                            <strong>Tổng cộng: &nbsp</strong>
                            <label id="lblTongTien" th:text="${tongTien}"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" style="margin: auto auto;">
                <span>Voucher: <input type="text" id="txtVoucher"/></span>
                <input type="submit" class="voucher" value="Xác nhận" />
                <div id="alertVoucher"></div>
            </div>

            <div class="row">
                <div class="col-md-12 content-header">
                    <span>THÔNG TIN NGƯỜI MUA/NHẬN HÀNG</span>
                </div>
                <div class="col-md-12 font-weight-bold">
                    <label id="lbTenNguoiNhan" class="margin-bottom-label">Tên</label>
                </div>
                <div class="col-md-12 ">
                    <input type="text" ID="txbTenNguoiNhan" required="required" placeholder="Tên người nhận"
                           class="w-100"/>
                </div>

                <div class="col-md-12 font-weight-bold mt-2">
                    <label id="lbDienThoaiLienLac" class="margin-bottom-label"> Điện thoại liên lạc</label>
                </div>

                <div class="col-md-12 w-100 ">
                    <input type="text" ID="txbSDT" required="required" placeholder="Số điện thoại"
                           class="w-100"/>
                </div>
                <div class="col-md-12  font-weight-bold mt-2">
                    <label ID="lbDiaChiNhanHang" class="margin-bottom-label">Địa chỉ nhận hàng</label>
                </div>
                <div class="col-md-12">
                    <input type="text" ID="txbDiaChiNhanHang" required="required" placeholder="Địa chỉ nhận hàng"
                           class="w-100"/>
                </div>
                <div class="col-md-12  font-weight-bold mt-2">
                    <label ID="lbGhiChu" class="margin-bottom-label">Ghi chú</label>
                </div>
                <div class="col-md-12 ">
                    <input type="text" ID="txbGhiChu" placeholder="Ghi chú" class="w-100"/>
                </div>
            </div>
            <div class="col-md-12 col-md-offset-5 button-cart">
                <input type="submit" name="action" class="btnCheckOut" value="ĐẶT HÀNG" />
            </div>
        </div>
    </div>

    <div class="modal" id="modalDatHang">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đặt hàng thành công!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <span> Vui lòng chuyển khoản đúng số tiền: </span>

                        <span style="color:red">
                           <label th:text="${tongTien}"></label>
                           <br>
                       </span>
                        <span> Đến STK: 0381000587738 <br> Ngân hàng thương mại cổ phần Ngoại thương Việt Nam (Vietcombank) <br/>
                                Chủ tài khoản: Dương Phước Hải Thọ <br/> Chi nhánh Thủ Đức
                         </span>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-dark" id="btnSubmitDatHang" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!--FOOT-->
    <!--Footer-->
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="/trangchu">Trang chủ</a>
                ·
                <a href="/DanhMuc?Id=LTC01">Sản phẩm</a>
                ·
                <a href="/LienHe">Liên hệ</a>
            </p>
            <p>Hona Green House &copy; 2019</p>
        </div>
    </footer>
</form>
<!--END FOOT-->
</body>
<script>
    $( document ).ready(function() {
        var isDatHangSuccess = false;

        $(".delete").click(function() {
            var row = $(this).closest(".cart-header-container");
            var maTraiCay = row.find("#lblMaTraiCay").text();
            // var soLuong = row.find("#txbSoLuong").val();
            // console.log(maTraiCay);
            // console.log(soLuong);
            $.ajax({
                type: "GET",
                url: "/shoppingCart/removeProduct/"+maTraiCay,
                success: function () {
                    location.replace("/shoppingCart")
                }
            })
        });

        $(".update").click(function() {
            var row = $(this).closest(".cart-header-container");
            var maTraiCay = row.find("#lblMaTraiCay").text();
            var soLuong = row.find("#txbSoLuong").val();
            // console.log(maTraiCay);
            // console.log(soLuong);
            $.ajax({
                type: "GET",
                url: "/shoppingCart/updateProduct/"+maTraiCay+"/"+soLuong,
                success: function () {
                    location.replace("/shoppingCart")
                }
            })
        });

        $(".voucher").click(function() {
            var voucher = document.getElementById("txtVoucher").value;
            // console.log(voucher);

            $.ajax({
                type: "GET",
                url: "/shoppingCart/voucher/"+voucher,
                success: function () {
                    $('#alertVoucher').empty().append(`<div class='alert alert-danger'> <strong> Áp mã thành công!</strong ></div >`)
                    $('#alertVoucher').show();
                    var href = "/shoppingCart/voucher/"+voucher;
                    window.setTimeout(function(){
                        window.location.href = href;
                    }, 2000);
                }
            })
        });

        $(".btnCheckOut").click(function(e) {
            e.preventDefault();
            var voucher = document.getElementById("txtVoucher").value;
            var tongTien = "[[${tongTien}]]";
            var tenNguoiNhan = document.getElementById("txbTenNguoiNhan").value;
            var SDT = document.getElementById("txbSDT").value;
            var diaChiNhanHang = document.getElementById("txbDiaChiNhanHang").value;
            var ghiChu = document.getElementById("txbGhiChu").value;

            let datHang = {
                "voucher": voucher,
                "tongTien": tongTien,
                "tenNguoiNhan": tenNguoiNhan,
                "SDT": SDT,
                "diaChiNhanHang": diaChiNhanHang,
                "ghiChu": ghiChu
            }

            //console.log("JSON", datHang)

            $('#modalDatHang').modal();

            $.ajax({
                type:"POST",
                url: "/shoppingCart/checkOut",
                data: JSON.stringify(datHang),
                contentType: 'application/json',
                success: function(){
                    isDatHangSuccess = true;
                }
            })
        })

        if(isDatHangSuccess) {
            $('#modalDatHang').modal('show');
        }
    });
</script>
</html>