<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Loại trái cây</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


</head>
<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="#">Hona Green House</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!-- Da display none de ko hien thanh search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group" style="display: none">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/Dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="KhoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Quản lí kho</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/Admin/LoaiTraiCay">Thêm loại trái cây</a>
                <a class="dropdown-item" href="/Admin/TraiCay">Thêm trái cây</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="HDDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>Quản lí đơn hàng</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/Admin/DonHangMoi">Đơn hàng mới</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Admin/DonHangDaXuLi">Đơn hàng đã xử lí</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="TKDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>Thống kê</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Lập thống kê</h6>
                <a class="dropdown-item" href="/Admin/ThongKeNhap">Thông kê nhập</a>
                <a class="dropdown-item" href="/Admin/ThongKeXuat">Thống kê xuất</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Voucher">
                <i class="fas fa-fw fa-users"></i>
                <span>Quản lí voucher</span>
            </a>
        </li>
    </ul>

    <div id="content-wrapper">
        <!-- /.container-fluid -->
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Thêm loại trái cây</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Button Them Loại Trai Cay-->
            <div class="d-flex m-3 flex-row-reverse">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalThemLTC">Thêm loại trái cây</button>
            </div>

            <div id="alert"></div>

            <!-- DataTables -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Danh sách loại trái cây
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên loại trái cây</th>
                                <th>#</th>
                                <th>#</th>

                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Mã</th>
                                <th>Tên loại trái cây</th>
                                <th>#</th>
                                <th>#</th>

                            </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- The Modal Them Loai Trai Cay -->
            <div class="modal fade" id="modalThemLTC">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm Loại Trái Cây</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div id="alertThem"></div>
                            <div class="d-flex">
                                <div class="p-1 flex-fill">
                                    <div class="form-group">
                                        <label for="txtTenLoaiTraiCay">Tên loại trái cây: (*)</label>
                                        <input type="text" class="form-control" id="txtTenLoaiTraiCay">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-dark" id="btnSubmitThem">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- The Modal Xoa Loai Trai Cay -->
            <div class="modal fade" id="modalXoaLTC">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Xoá Loại Trái Cây</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            Bạn có chăc chắn muốn xoá ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-dark" id="btnSubmitXoa" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The Modal Sua Loại Trai Cay -->
            <div class="modal fade" id="modalSuaLTC">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Sửa Loại Trái Cây</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div id="alertSua"></div>
                            <div class="d-flex">
                                <div class="p-1 flex-fill">
                                    <div class="form-group">
                                        <label for="txtTenLoaiTraiCay01">Tên loại trái cây: (*)</label>
                                        <input type="text" class="form-control" id="txtTenLoaiTraiCay01">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-dark" id="btnSubmitSua">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Hona Green House 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>

<script type="text/javascript">
    let table;

    function loadTable() {

        // Load dataTable qua Api loai trai cay
        table = $('#dataTable').DataTable({
            processing: true,
            paging: false,
            searching: false,
            ajax: {
                url: '/Api/GetListLoaiTraiCay',
                dataSrc: ''
            },
            columns: [
                { data: 'maLoaiTraiCay' },
                { data: 'tenLoaiTraiCay' },
                {
                    "data": null,
                    "defaultContent": `<button type="button" id="btnSua" class="btn btn-secondary" data-toggle="modal" data-target="#modalSuaLTC">Sửa</button>`
                },
                {
                    "data": null,
                    "defaultContent": `<button type="button" id="btnXoa" class="btn btn-dark" data-toggle="modal" data-target="#modalXoaLTC">Xoá</button>`
                }]
        });

        // Gan su kien click btn Sua cho tung row
        $('#dataTable tbody').on('click', '#btnSua', function () {
            let data = table.row($(this).parents('tr')).data();

            // Load data vao modal Sua
            $('#modalSuaLTC').on('show.bs.modal', function (event) {
                let modal = $(this)
                modal.find('.modal-body #txtTenLoaiTraiCay01').val(data.tenLoaiTraiCay)

                modal.find('.modal-title').text('Sửa loại trái cây mã ' + data.maLoaiTraiCay)
            })

            // Gan su kien submit cho modal Sua
            $("#btnSubmitSua").click(function (e) {
                e.preventDefault();

                let loaiTraiCay = {
                    "maLoaiTraiCay": data.maLoaiTraiCay,
                    "tenLoaiTraiCay": $("#txtTenLoaiTraiCay01").val() ? $("#txtTenLoaiTraiCay01").val() : "",
                }
                console.log("JSON", loaiTraiCay)
                $.ajax({
                    type: "POST",
                    url: "/Api/UpdateLoaiTraiCay",
                    data: JSON.stringify(loaiTraiCay),
                    contentType: 'application/json',
                    success: function (result) {
                        // Lôi
                        if (result) {
                            $('#alertSua').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > ` + result + ` </div >`)
                            $('#alertSua').show();
                            // ẩn alert sau 7s
                            $("#alertSua").delay(7000).slideUp(200, function () {
                                $(this).alert('dispose');
                            });
                        }
                        else {
                            // dong modal va xoa cac truong du lieu da nhap
                            $("#modalSuaLTC").modal('hide')

                            $("#txtTenLoaiTraiCay01").val("")

                            $('#alert').empty().append(`<div class='alert alert-success'> <strong> Success!</strong > Update loại trái cây thành công  </div >`)

                            $('#alert').show();
                            // ẩn alert sau 7s
                            $("#alert").delay(7000).slideUp(200, function () {
                                $(this).alert('dispose');
                            });

                            // load lai dataTable
                            table.ajax.reload();
                        }


                    },
                    error: function (result) {
                        console.log(result)
                        $('#alertThem').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > Có lỗi trong quá trình kết nối </div >`)
                    }
                });
            })

        });

        // Gan su kien click btn Xoa cho tung row
        $('#dataTable tbody').on('click', '#btnXoa', function () {
            let data = table.row($(this).parents('tr')).data();

            // hiển thị mã trái cây ở modal xoá
            $('#modalXoaLTC').on('show.bs.modal', function (event) {
                let modal = $(this)
                modal.find('.modal-title').text('Xoá loại trái cây mã ' + data.maLoaiTraiCay)
            })

            // gán sự kiện vào btn Xoa trong modal
            $('#btnSubmitXoa').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "/Api/DeleteLoaiTraiCay?maLoai=" + data.maLoaiTraiCay,
                    success: function (result) {

                        if (result) {
                            $('#alert').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > ` + result + ` </div >`)
                        }
                        else {
                            $('#alert').empty().append(`<div class='alert alert-success'> <strong> Success!</strong > Xóa loại trái cây thành công </div >`)
                        }

                        $('#alert').show();

                        // ẩn alert sau 7s
                        $("#alert").delay(7000).slideUp(200, function () {
                            $(this).alert('dispose');
                        });

                        // load lai dataTable
                        table.ajax.reload();
                    },
                    error: function (result) {
                        console.log(result)
                        $('#alert').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > Có lỗi trong quá trình kết nối </div >`)
                    }
                });
            });

        });
    }

    function btnSubmitThem_OnClick(e) {
        e.preventDefault();

        let loaiTraiCay = {
            "tenLoaiTraiCay": $("#txtTenLoaiTraiCay").val() ? $("#txtTenLoaiTraiCay").val() : "",
        }
        console.log("JSON", loaiTraiCay)
        $.ajax({
            type: "POST",
            url: "/Api/InsertLoaiTraiCay",
            data: JSON.stringify(loaiTraiCay),
            contentType: 'application/json',
            success: function (result) {
                // Lỗi
                if (result) {
                    $('#alertThem').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > ` + result + ` </div >`)
                    $('#alertThem').show();
                    // ẩn alert sau 7s
                    $("#alertThem").delay(7000).slideUp(200, function () {
                        $(this).alert('dispose');
                    });
                }
                else {
                    // dong modal va xoa cac truong du lieu da nhap
                    $("#modalThemLTC").modal('hide')

                    $("#txtTenLoaiTraiCay").val("")

                    $('#alert').empty().append(`<div class='alert alert-success'> <strong> Success!</strong > Thêm trái cây thành công </div >`)

                    $('#alert').show();
                    // ẩn alert sau 7s
                    $("#alert").delay(7000).slideUp(200, function () {
                        $(this).alert('dispose');
                    });

                    // load lai dataTable
                    table.ajax.reload();
                }


            },
            error: function (result) {
                console.log(result)
                $('#alertThem').empty().append(`<div class='alert alert-danger'> <strong> Warning!</strong > Có lỗi trong quá trình kết nối </div >`)
            }
        });
    }

    $(document).ready(function () {
        loadTable()

        $("#btnSubmitThem").click(function (e) {
            btnSubmitThem_OnClick(e)
        })
    });
</script>
</body>
</html>